---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="My Work | Nritya Kalpna"
	description="Learn about Nritya Kalpna's White's most recent performances"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my recent performances below:"
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
			<CallToAction href="https://www.youtube.com/@Nrityakalpna" target="_blank">
						My YouTube Channel
						<Icon icon="arrow-right" size="1em" />
					</CallToAction>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
